---
layout: base
css:
  - style.css
js:
  - summary.js
---

{% assign data = site.data.sections %}

{% for section in data.data %}
	<section>
		<div class="container">
			<div>
				{% if section.heading %}
					<h2>{{ section.heading }}</h2>
				{% endif %}

				{% if section.code.code %}
					{{ section.code.code }}
				{% else %}
					{{ section.content | markdownify }}
				{% endif %}
			</div>

			<img src="{{ section.image }}" role="presentation">
		</div>
	</section>
{% endfor %}

<section>
	<div class="container">
		<div>
			{% assign data = site.data.contact %}

			<h2>{{ data.heading }}</h2>

			{{ data.content | markdownify }}
		</div>

		{% include components/contact.html %}
	</div>
</section>
